@model Fatec.Treinamento.Web.Models.ModificaUsuarioViewModel

@{
    ViewBag.Title = "Modificar acesso de usuário";
}
@using (Html.BeginForm("Index", "AdminUsuarios", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>Modificar acesso de usuário</h2>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.IdPerfil, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(c=>c.IdPerfil, Model.ListaPerfil)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Atualizar" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}